@(content: Html)

<!DOCTYPE html>

<html>
    <head>
        <title>Media</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/bootstrap.min.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        <script src="@routes.Assets.at("javascripts/jquery-1.7.1.min.js")" type="text/javascript"></script>
    </head>
    <body>
      <header class='topbar'>
        <h1>
          <div class="navbar">
          <div class="navbar-inner">
          <ul class="fill">
             <li class="fill"><a href="@routes.Customers.index()">Customers</a></li>
             <li class="fill"><a href="@routes.Packages.index()">Packages</a></li>
             <li class="fill"><a href="@routes.Seeding.index()">Reseed</a></li>
          </ul>
          </div>
          </div>
        </h1>
      </header>
      <section id="main">
        @content
      </section>
    </body>
</html>
